.usernav {display:none !important;}

#content {
  width:371px;
}

.flash_container p {display:inherit !important;}
          
#main {
  .shell {
    #shadow_box.sessions_new {
      .title {
        h4 {
          border-left:2px solid grey;
        }
      }
    }
  }
}